h1 {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    color: #000033;
    transition:transform 2s; /**/
    transition-delay: 1s;
    transform:rotate(360deg);
}

 a{
     color:green;
 }
 
a:hover{
      text-shadow: 2px 2px 4px lightblue; /**/
}

h2 {
    text-align: left;
    font-family: 'Passion One', cursive;
    font-size: 35px;
    color: #006666;
}

p {
    text-align: left;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 23px;
    color: #000033;
}

ul {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 23px;
    text-align: left;
    color: #000033;
}

body {
    background-image: url(matched.png);
}

#sequel {
    background-image: url(crossed.png);
}

span {
    color: #293d3d;
    background-color: #ffff66;
    font-weight: bold;
}

.wrapper {
    position: relative;
    overflow: hidden;
    width: 1700px;
    height: 1740px; 
}

.content {
    padding: 20px;
    padding-left: 50px;
    margin: 50px;
    height: 510px;
    background-color: #99ff99;
    border-radius: 50px;
    position: relative;
    left: -1700px;
    width: 1500px;
    height: 500px;
    animation: slide-right 1s forwards 1s; /**/
}

@keyframes slide-right {
    100% { left: 0px; }
}

.content2 {
    padding: 20px;
    padding-left: 50px;
    margin: 50px;
    height: 470px;
    background-color: #66ccff;
    border-radius: 50px;
}

.characters {
    padding: 20px;
    margin: 50px;
    margin-bottom: 75px;
    background-color: #99ff99;
    background: radial-gradient(#99ff99,#00ff99);
    border-radius: 50px;
    position: relative;
    right: -1700px;
    width: 1530px;
    height: 400px;
    animation: slide-left 1s forwards 2s;/**/
    
}

@keyframes slide-left {
    100% { right: 0px; }
}


.video {
    padding: 20px;
    padding-left: 25%;
    margin: 50px;
    height: 400px;
    background-color: #99ff99;
    background:linear-gradient(-90deg, #99ff99,#00cccc,#66ff99);
    border-radius: 50px;
    position: relative;
    left: -1700px;
    width: 1110px;
    height: 500px;
    animation: slide-right 1s forwards 3s; /**/
}

@keyframes slide-right {
    100% { left: 0px; }
}


.form {
    padding: 10px;
    margin: 50px;
    background-color: #99ff99;
    position: fixed;
    bottom: -50px;
    right: 10px;
    width: 500px;
    height: 20px;
    border: 5px solid #00ff99;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 19px;
    box-shadow: 5px 5px 5px grey; /**/
    
}

.button {
    margin-left: 5px;
    border-radius: 20px;
}

#cover {
    float: right;
    margin-left: 25px;
    padding-right: 10px;
    transition: transform 2s; /**/
}

#cover:hover { /**/
    transform: rotateY(360deg);
}

#cassia {
    padding-right: 50px;
    padding-left: 10px;
    float: left;
    transition: transform 2s;
}

#cassia:hover { /**/
    transform: rotateX(360deg);
}

#lady {
    float: right;
    margin-left: 25px;
    padding-right: 10px;
}

input {
    font-family: 'Passion One', cursive;
}
