h1 {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    color: #000033;
    transition:transform 2s ease 1s; /* property= transform, duration= 2s, transition-timing function at default, delaty= 1s*/
    transform:rotate(360deg);/*2D rotate text 360deg*/
}

 a{
     color:green;
 }
 
a:hover{/*show text shadow when mouse hovers link*/
      text-shadow: 2px 2px 4px lightblue; /*horizontal and vertical shadow=2px, blur radius=4x, color=lightblue*/
}

h2 {
    text-align: left;
    font-family: 'Passion One', cursive;
    font-size: 35px;
    color: #006666;
}

p {
    text-align: left;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 23px;
    color: #000033;
}

ul {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 23px;
    text-align: left;
    color: #000033;
}

body {
    background-image: url(matched.png);
}

#sequel {
    background-image: url(crossed.png);
}

span {
    color: #293d3d;
    background-color: #ffff66;
    font-weight: bold;
}

.wrapper {
    position: relative;
    overflow: hidden;
    width: 1700px;
    height: 1740px; 
}

.content {
    padding: 20px;
    padding-left: 50px;
    margin: 50px;
    background-color: #99ff99;
    border-radius: 50px; /*create rounded borders*/
    position: relative;
    left:-1700px;/*starting point*/
    width: 1500px;
    height: 500px;
    animation: slide-right 1s ease 1s; /*animation name= slide-right, duration= 1s, timing function at default, delay= 1s */
    animation-fill-mode: forwards;/*make animation stay after shifting right*/
}

@keyframes slide-right {/*ending point*/
    100% { left: 0px; }
}

.content2 {
    padding: 20px;
    padding-left: 50px;
    margin: 50px;
    height: 470px;
    background-color: #66ccff;
    border-radius: 50px; /*create rounded borders*/
}

.characters {
    padding: 20px;
    margin: 50px;
    margin-bottom: 75px;
    background-color: #99ff99;
    background: radial-gradient(#99ff99,#00ff99,#00cc99); /*color starts at center and change to different colors*/
    border-radius: 50px; /*create rounded borders*/
    position: relative;
    right: -1700px;/*starting point*/
    width: 1530px;
    height: 400px;
    animation: slide-left 1s ease 2s; /*animation name= slide-left, duration= 1s, timing function at default, delay= 2s */
    animation-fill-mode: forwards;/*make animation stay after shifting left*/
    
}

@keyframes slide-left {/*ending point*/
    100% { right: 0px; }
}


.video {
    padding: 20px;
    padding-left: 25%;
    margin: 50px;
    background-color: #99ff99;
    background:linear-gradient(-90deg, #99ff99,#00cccc,#66ff99);/*linear gradient that starts from -90deg angle and change colors*/
    border-radius: 50px; /*create rounded borders*/
    position: relative;
    left: -1700px; /*starting point*/
    width: 1110px;
    height: 500px;
    animation: slide-right2 1s ease 3s; /*animation name= slide-right2, duration= 1s, timing function at default, delay= 3s */
    animation-fill-mode: forwards;/*make animation stay after shifting right*/
}

@keyframes slide-right2 { /*ending point*/
    100% { left: 0px; }
}


.form {
    padding: 10px;
    margin: 50px;
    background-color: #99ff99;
    position: fixed;
    bottom: -50px;
    right: 10px;
    width: 500px;
    height: 20px;
    border: 5px solid #00ff99;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 19px;
    box-shadow: 5px 5px 5px grey; /*horizontal and vertical shadow=5px, blur radius=5x, color=grey */

}

.button {
    margin-left: 5px;
    border-radius: 20px;  /*create rounded borders*/
}

#cover {
    float: right;
    margin-left: 25px;
    padding-right: 10px;
    transition: transform 2s; /*property=transform, duration=2s*/
}

#cover:hover { /*3D rotation over y-axis 360deg when mouse hovers image*/
    transform: rotateY(360deg);
}

#cassia {
    padding-right: 50px;
    padding-left: 10px;
    float: left;
    transition: transform 2s; /*property=transform, duration=2s*/
}

#cassia:hover { /*3D rotation over x-axis 360deg when mouse hovers image*/
    transform: rotateX(360deg);
}

#lady {
    float: right;
    margin-left: 25px;
    padding-right: 10px;
}

input {
    font-family: 'Passion One', cursive;
}
